EXPO_PUBLIC_SUPABASE_URL=https://yvtsonavhqkguedcktya.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_JQ8ctnTxgU4PeDbI-xFXHA_F1VoQMar
EXPO_PUBLIC_API_URL=https://hobi-csc4gqdaahejgbgh.centralus-01.azurewebsites.net
